[build]
  publish = "client/dist"
  command = "pnpm build"

[[redirects]]
  from = "/post/*"
  to = "/post/:splat/index.html"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
